body{
	/*background: url(https://images.unsplash.com/photo-1494888427482-242d32babc0b?auto=format&fit=crop&w=2496&q=80);*/
	/*background: url(https://images.unsplash.com/photo-1497514935393-24b153421536?auto=format&fit=crop&w=2702&q=80);*/
	background: url(https://images.unsplash.com/photo-1428765048792-aa4bdde46fea?auto=format&fit=crop&w=2689&q=80);
	background-size: cover;
	font-family: 'Poiret One', cursive;
	font-size: 20px;
}

html{
	height: 100%;
}

#content{
	text-align: center;
}
.btn-group-lg>.btn, .btn-lg{
	border-radius: 20px;
	font-size: 20px;
}

.btn-success {
    color: #fff;
    background-color: #2ac52a;
    border-color: #76c376;
}


h1{
	font-family: 'Monoton', cursive;
	font-size: 4em;
	border-bottom: 5px solid #006b1f4a;
	letter-spacing: 25px;

}

@media only screen and (max-width: 620px) {

   h1 { 
      font-size: 2em; 
   }

}

h3{
	font-family: 'Poiret One', cursive;
	margin-bottom: 20%
}
.navbar-brand{
	font-size: 20px;
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.one {
-webkit-animation-delay: 0.4s;
-moz-animation-delay: 0.4s;
animation-delay: 0.4s;
}

/*==== FADE IN DOWN ===*/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
